<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Color Filter</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
    </div>
</div>

<button onclick="window.location.href='/picker'">Color Picker</button>
</body>
<script type="text/javascript">


    function get_motor() {
        var url = 'http://127.0.0.1:5000/robot' ;
    
        fetch(url).then(response => response.json()).then(data =>  {
            document.getElementById("voltage0").textContent=data["motor0"]["voltage"];
        });
        fetch(url).then(response => response.json()).then(data =>  {
            document.getElementById("velocity0").textContent=data["motor0"]["speed"];
        });
        fetch(url).then(response => response.json()).then(data =>  {
            document.getElementById("voltage1").textContent=data["motor1"]["voltage"];
        });
        fetch(url).then(response => response.json()).then(data =>  {
            document.getElementById("velocity1").textContent=data["motor1"]["speed"];
        });
        fetch(url).then(response => response.json()).then(data =>  {
        document.getElementById("voltage2").textContent=data["motor2"]["voltage"];
        });
        fetch(url).then(response => response.json()).then(data =>  {
            document.getElementById("velocity2").textContent=data["motor2"]["speed"];
        });
        fetch(url).then(response => response.json()).then(data =>  {
            document.getElementById("voltage3").textContent=data["motor3"]["voltage"];
        });
        fetch(url).then(response => response.json()).then(data =>  {
            document.getElementById("velocity3").textContent=data["motor3"]["speed"];
        });
    }
    
    </script>
    
    <body onload="window.setInterval(get_motor, 1000)">
    Robot Values <hr>
    Motor0 Voltage: <span id="voltage0">  </span>
    <br>
    Motor0 Velocity: <span id="velocity0">  </span>
    <br>
    Motor1 Voltage: <span id="voltage1">  </span>
    <br>
    Motor1 Velocity: <span id="velocity1">  </span>
    <br>
    Motor2 Voltage: <span id="voltage2">  </span>
    <br>
    Motor2 Velocity: <span id="velocity2">  </span>
    <br>
    Motor3 Voltage: <span id="voltage3">  </span>
    <br>
    Motor3 Velocity: <span id="velocity3">  </span>
    </body>
</html>
